@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Light-Grayish-Blue: hsl(233, 11%, 84%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
    --Very-Dark-Blue: hsl(235, 82%, 28%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--Very-Light-Grayish-Blue);
}

.header {
    background-image: url(./bg-desktop-light.jpg);
    background-repeat: no-repeat;
    justify-content: space-evenly;
    height: 35vh;
    width: 100vw;
    color: var(--Very-Light-Gray)
}

.task-container {
    background-color: var(--Very-Light-Gray);
    width: 30%;
    margin: auto;
    border-radius: 10px;
    box-shadow: -4px 4px 39px -4px var(--Light-Grayish-Blue);
}

i {
    color: var(--Light-Grayish-Blue);
    padding: 10px;
}

p {
    margin: 0;
}

.span-circle {
    position: absolute;
    left: 35%;
    cursor: pointer;
}

.span-xmark {
    position: absolute;
    right: 35%;
    cursor: pointer;
}

.task {
    width: 100%;
    border-bottom: solid 1px var(--Light-Grayish-Blue);
}

.task-text {
    align-self: center;
    position: relative;
    left: 50%;
    color: var(--Very-Dark-Grayish-Blue);
}

.filter-container {
    width: 100%;
    align-items: center;
}

.filter-text {
    color: var(--Dark-Grayish-Blue);
    font-size: 0.8rem;
    margin: 2% 0;
    text-align: center;
    cursor: pointer;
}

.active {
    color: var(--Very-Dark-Blue);
}

img {
    width: 15px;
    height: 15px;
    position: relative;
    left: 8%;
    cursor: pointer;
}